.fourth-section {

    & {
        @include for-tablet-portrait-up {
            max-width: 90%;
        }
    }

    &__main-heading {
        color: $pink-700;
        margin-bottom: $space-3;
    }

    &__slider-list {
        
        a {
            color: $grey-500;
            border:none;

            &:hover {
                color: white;
                background: linear-gradient(to left, #3f4b62, #935f86);
                box-shadow: 0px 0px 6px 3px grey;
            }
        }
    }

    &__body {
        justify-content: space-around;

        & {
            @include for-tablet-portrait-up {
                flex-flow: column wrap;
            }
        }
    }

    &__description {
        max-width: 40%;

        & {
            @include for-tablet-portrait-up {
                max-width: 100%;
            }
        }

        .span-heading-with-before {
            margin-left: $space-3;
        }

       &-list-item {
           color: $grey-500;
           margin: 0 0 0.4rem 2rem;
           font-size: 1.5rem;
           position: relative;

           &::before {
               font-family: FontAwesome;
               content: '\f058';
               top: 0;
               left: -2rem;
               position: absolute;
               font-size: 1.4rem;
               color: $pink-700;
           }
       }
        
      &-buttons {
          margin-top: $space-3;

          & {
              @include for-tablet-portrait-up {
                  margin: $container-space--5 auto 0;
                  max-width: 50%;
                  display: flex;
                  flex-flow: column wrap;
                  justify-content: center;

                  & > * {
                      flex-grow: 1;
                  }
              }
          }

          .btn--primary {
              margin-right: $space-1;

              & {
                  @include for-tablet-portrait-up {
                      margin: 0 0 $space-1;
                  }
              }
          }
      }
    
    }

    &__secondary-heading {
        color: $primary-black;
        font-weight: 100;
        margin-bottom: $space-1;
        letter-spacing: .1rem;
    }

    &__image-wrapper {
        max-width: 50rem;

        @include for-tablet-portrait-up {
            margin-bottom: $space-3;
            max-width: 100%;
        }
    }

}