.second-section {

    @include for-tablet-portrait-up {
        max-width: 90%;
    }

    & > * {
        justify-content: space-around;
    }

    &__nice-feature,
    &__smart-design {

        @include for-phone-only {
            flex-flow: column wrap;
        }
    }

    &__image {
        max-width: 40rem;
    }

    &__first-description,
    &__second-description {
        margin: $space-3 0 0;
        max-width: 30%;
    }

    &__first-description {
        text-align: right;
       
        @include for-phone-only {
            max-width: 100%;
            order: 1;
        }
    }

    &__second-description {
       
        @include for-phone-only {
            max-width: 100%;
        }

        .span-heading-with-before {
            margin-left: $space-3;
         }
    }

    &__heading {
        color: $primary-black;
        font-size: 4rem;
        
        &--2 {
            margin-bottom: $space-1;
        }
    }

}
    
        
    