@each $heading, $size-value in (h1:5rem , h2:3rem, h3:2rem, h4:1.6rem, h5:1.4rem, h6:1.2rem) {
    #{$heading} {
        font-size: $size-value;
        font-family: 'Montseratt', sans-serif;
        margin: 0;
        font-weight: 400;
    };
}