/**
Use a better box model (opinionated).
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

::-moz-selection {
  color: #fff;
  background-color: #42ABF8;
}

::selection {
  color: #fff;
  background-color: #42ABF8;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

a:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 5rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 3.5rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
  font-weight: 400;
}

h4 {
  font-size: 1.6rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
  font-weight: 400;
}

h5 {
  font-size: 1.4rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
  font-weight: 400;
}

h6 {
  font-size: 1.2rem;
  font-family: 'Montseratt', sans-serif;
  margin: 0;
  font-weight: 400;
}

p {
  color: gray;
  line-height: 1.4;
  margin: 1rem 0;
  padding: 0;
}

.o-flex-row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.o-flex-column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.o-flex-main-axis-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.o-flex-cross-axis-centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-flex-main-cross-axis-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.o-primary-size-container {
  max-width: 70%;
}

.o-half-size-container {
  max-width: 50%;
}

.o-padding-bot--50 {
  padding-bottom: 5rem;
}

.o-padding-top--50 {
  padding-top: 5rem;
}

.o-padding-bot--100 {
  padding-bottom: 10rem;
}

.o-padding-top--100 {
  padding-top: 10rem;
}

.o-margin-bot--50 {
  margin-bottom: 5rem;
}

.o-margin-top--50 {
  margin-top: 5rem;
}

.o-margin-bot--100 {
  margin-bottom: 10rem;
}

.o-margin-top--100 {
  margin-top: 10rem;
}

.o-margin-list-items-2 > * + * {
  margin-left: 2rem;
}

.o-margin-list-items-3 > * + * {
  margin-left: 3rem;
}

.o-text-center {
  text-align: center;
}

.o-x-center-container {
  margin-left: auto;
  margin-right: auto;
}

.top-navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 5rem 0;
}

.top-navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-navigation__left-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-navigation__left-section .logo-wrapper {
  max-width: 5rem;
  margin-right: 0.8rem;
}

.top-navigation__left-section .text-wrapper h5 {
  margin-bottom: 0.2rem;
}

.top-navigation__list-item .white-color-text {
  color: #fff;
}

.top-navigation__list-item .grey-color-text {
  color: #d3c9c9;
}

.top-navigation__list-item .grey-color-text:hover {
  color: #fff;
}

.btn {
  outline: none;
  padding: 1rem 2.4rem;
  border: 0.2rem solid;
  border-radius: 2rem;
  background: transparent;
  color: #fff;
}

.btn--cta {
  border-color: #fff;
  background-color: #fff;
  color: #DD2D4F;
}

.btn--cta:hover {
  -webkit-box-shadow: 0 0 1.6rem 0.2rem grey;
          box-shadow: 0 0 1.6rem 0.2rem grey;
}

.btn--primary {
  background: #DD2D4F;
  border-color: #DD2D4F;
  -webkit-box-shadow: 0 0 0.5rem 0.1rem #584e4e;
          box-shadow: 0 0 0.5rem 0.1rem #584e4e;
}

.btn--primary:hover {
  -webkit-box-shadow: 0 0 1rem 0.2rem #3f3c3c;
          box-shadow: 0 0 1rem 0.2rem #3f3c3c;
}

.btn--secondary {
  border-color: #fff;
}

.btn--secondary:hover {
  border-color: #d3c9c9;
  color: #d3c9c9;
}

.btn--third {
  border-color: #DD2D4F;
  color: #DD2D4F;
}

.btn--third:hover {
  border-color: #404755;
  color: #404755;
}

.header {
  background: url("/Project/Images/bg-wave.png"), linear-gradient(94deg, #ff635d 3%, #d01a49 100%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.header > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header__image-container {
  max-width: 45rem;
}

.header__description-container {
  margin-right: 2rem;
}

.header__description h1 {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.header__description h4 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
}

.header__button-wrapper .btn--cta {
  margin-right: 1rem;
}

.fa-undo,
.fa-wrench,
.fa-download {
  color: #DD2D4F;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards-wrapper > * + * {
  margin-left: 2rem;
}

.cards-wrapper > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.advertise-card {
  text-align: center;
  padding: 3rem 1rem;
}

.advertise-card > * + * {
  margin-top: 2rem;
}

.advertise-card--for-white-bg {
  -webkit-box-shadow: 0 0 0.6rem #cfcfcf;
          box-shadow: 0 0 0.6rem #cfcfcf;
  border-radius: 0.5rem;
}

.advertise-card--for-white-bg:hover {
  -webkit-box-shadow: 0 0 1.5rem 0px #d3c9c9;
          box-shadow: 0 0 1.5rem 0px #d3c9c9;
}

.advertise-card--for-white-bg .advertise-card__heading {
  color: #DD2D4F;
}

.advertise-card--for-pink-bg p {
  color: #d3c9c9;
}

.advertise-card--for-pink-bg .advertise-card__heading {
  color: #fff;
}

.price-card {
  overflow: hidden;
  border-radius: .5rem;
  -webkit-box-shadow: 0 0 0.6rem #cfcfcf;
          box-shadow: 0 0 0.6rem #cfcfcf;
}

.price-card__header, .price-card__name-heading, .price-card__price-heading, .price-card__footer {
  text-align: center;
}

.price-card__name-heading {
  padding: 1rem 0;
}

.price-card__price-heading {
  padding: 1.2rem 0;
}

.price-card__footer {
  padding: 0.6rem 0;
}

.price-card__list {
  padding: 1rem 0 2rem;
}

.price-card__list-item {
  margin: 1rem 0 0 4rem;
  position: relative;
}

.price-card__list-item::before {
  content: "\f00c";
  font-family: FontAwesome;
  position: absolute;
  top: 0.3rem;
  left: -2rem;
  font-size: 1.2rem;
}

.price-card button {
  border: none;
}

.price-card--lite .price-card__name-heading {
  color: #3F4B62;
}

.price-card--lite .price-card__price-heading {
  background-color: #3F4B62;
}

.price-card--lite .price-card__list-item {
  color: gray;
}

.price-card--lite .price-card__footer {
  background-color: #F1F2F7;
}

.price-card--lite ::before {
  color: #3F4B62;
}

.price-card--lite .btn {
  background-color: #3F4B62;
}

.price-card--standard .price-card__name-heading {
  background-color: #D1335B;
}

.price-card--standard .price-card__price-heading {
  color: #D1335B;
}

.price-card--standard .price-card__list {
  background-color: #D1335B;
}

.price-card--standard .price-card__footer {
  background-color: #F1C2CE;
}

.price-card--standard ::before {
  color: #fff;
}

.price-card--standard .btn {
  background-color: #D1335B;
}

.price-card--ultimate .price-card__name-heading {
  color: #D1335B;
}

.price-card--ultimate .price-card__price-heading {
  background-color: #D1335B;
}

.price-card--ultimate .price-card__list-item {
  color: gray;
}

.price-card--ultimate .price-card__footer {
  background-color: #F1F2F7;
}

.price-card--ultimate ::before {
  color: #D1335B;
}

.price-card--ultimate .btn {
  background-color: #D1335B;
}

.span-heading-with-before {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  color: #DD2D4F;
  margin-bottom: 1rem;
}

.span-heading-with-before::before {
  content: '';
  position: absolute;
  background-color: #DD2D4F;
  top: 1.1rem;
  left: -3rem;
  width: 2rem;
  height: 0.2rem;
}

.first-section__header {
  margin-bottom: 3rem;
}

.first-section__header h1 {
  color: #DD2D4F;
}

.first-section__header h3 {
  color: #1D1D1D;
}

.first-section__header h1,
.first-section__header h3 {
  margin-bottom: 1rem;
}

.first-section__footer {
  margin-top: 3rem;
}

.second-section > * {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.second-section__image {
  max-width: 40rem;
}

.second-section__first-description, .second-section__second-description {
  max-width: 30%;
}

.second-section__first-description {
  text-align: right;
}

.second-section__second-description .span-heading-with-before {
  margin-left: 3rem;
}

.second-section__heading {
  color: #1D1D1D;
  font-weight: 100;
  margin-bottom: 1rem;
}

.main__third-section-wrapper {
  background: url("/Project/Images/bg-wave-sym.png"), linear-gradient(94deg, #ff635d 3%, #d01a49 100%);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

.third-section__paragraph {
  color: #d3c9c9;
}

.third-section__heading {
  margin-bottom: 2rem;
}

.third-section .fas {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.third-section .fas:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 1rem 0.1rem #1D1D1D;
          box-shadow: 0 0 1rem 0.1rem #1D1D1D;
}

.fourth-section__main-heading {
  color: #DD2D4F;
  margin-bottom: 3rem;
}

.fourth-section__slider-list a {
  color: gray;
  border: none;
}

.fourth-section__slider-list a:hover {
  color: white;
  background: -webkit-gradient(linear, right top, left top, from(#3f4b62), to(#935f86));
  background: linear-gradient(to left, #3f4b62, #935f86);
  -webkit-box-shadow: 0px 0px 6px 3px grey;
          box-shadow: 0px 0px 6px 3px grey;
}

.fourth-section__body {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fourth-section__description {
  max-width: 40%;
}

.fourth-section__description .span-heading-with-before {
  margin-left: 3rem;
}

.fourth-section__description-list-item {
  color: gray;
  margin: 0 0 0.4rem 2rem;
  font-size: 1.5rem;
  position: relative;
}

.fourth-section__description-list-item::before {
  font-family: FontAwesome;
  content: '\f058';
  top: 0;
  left: -2rem;
  position: absolute;
  font-size: 1.4rem;
  color: #DD2D4F;
}

.fourth-section__description-buttons {
  margin-top: 3rem;
}

.fourth-section__description-buttons .btn--primary {
  margin-right: 1rem;
}

.fourth-section__secondary-heading {
  color: #1D1D1D;
  font-weight: 100;
  margin-bottom: 1rem;
  letter-spacing: .1rem;
}

.fourth-section__image-wrapper {
  max-width: 50rem;
}

.main__fifth-section {
  background-color: #F1F2F7;
  height: 500px;
}

.main__fifth-section h2,
.main__fifth-section h4 {
  color: gray;
  margin-bottom: 2rem;
}

.main__sixth-section .sixth-section__secondary-heading {
  color: #1D1D1D;
}

.main__sixth-section .sixth-section__main-heading {
  color: #DD2D4F;
}
/*# sourceMappingURL=main.css.map */