$bg-selection: #42ABF8;

$primary-white: #fff;

$primary-black: #1D1D1D;

$grey-700: #d3c9c9;

$grey-500: gray;

$grey-300: #F1F2F7;

$pink-700: #DD2D4F;

$pink-500: #D1335B;

$pink-300: #F1C2CE;

$blue-700: #404755;

$blue-500: #3F4B62;

$blue-300: #845B7F;