.o-padding-bot--50 {
    padding-bottom: $container-space--5;
}

.o-padding-top--50 {
    padding-top: $container-space--5;
}

.o-padding-bot--100 {
    padding-bottom: $container-space--10;
}

.o-padding-top--100 {
    padding-top: $container-space--10;
}

.o-margin-bot--50 {
    margin-bottom: $container-space--5;
}

.o-margin-top--50 {
    margin-top: $container-space--5;
}

.o-margin-bot--100 {
    margin-bottom: $container-space--10;
}

.o-margin-top--100 {
    margin-top: $container-space--10;
}

.o-margin-list-items-2 {
    & > * + * {
        margin-left: $space-2;
    }
}

.o-margin-list-items-3 {
    & > * + * {
        margin-left: $space-3;
    }
}