.btn {
    outline: none;
    padding: 1rem 2.4rem;
    border: 0.2rem solid;
    border-radius: 2rem;
    background: transparent;
    color: $primary-white;

    &--cta {
        border-color: $primary-white;
        background-color: $primary-white;
        color: $pink-700;

        &:hover {
            box-shadow: 0 0 1.6rem 0.2rem grey;
        }
    }

    &--primary {
        background: $pink-700;
        border-color: $pink-700;
        box-shadow: 0 0.1rem 0.2rem 0.1rem #994e4e;

        &:hover {
            box-shadow: 0 0 1rem 0.2rem rgb(63, 60, 60);
        }
    }

    &--secondary {
        border-color: $primary-white;

        &:hover {
            border-color: $grey-700;
            color: $grey-700;
        }
    }

    &--third {
        border-color: $pink-700;
        color: $pink-700;

        &:hover {
            border-color: $blue-700;
            color: $blue-700;
        }
    }
}
