.cards-wrapper {
    display: flex;

    & > * + * {
        margin-left: $space-2;
    }

    & > * {
        flex-basis: 100%;
    }
}

.advertise-card {
    text-align: center;
    padding: $space-3 $space-1;

    & > * + * {
        margin-top: $space-2;
    }

    &--for-white-bg {
        box-shadow: 0 0 0.6rem rgb(207, 207, 207);
        border-radius: 0.5rem;
    
        &:hover {
            box-shadow: 0 0 1.5rem 0px $grey-700;
        }
    
        .advertise-card__heading {
            color: $pink-700;
        }
    }

    &--for-pink-bg {
        p {
            color: $grey-700;
        }
        .advertise-card__heading {
            color: $primary-white;
        }
    }
}





.price-card {
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 0.6rem rgb(207, 207, 207);

    &__header,
    &__name-heading,
    &__price-heading,
    &__footer {
        text-align: center;
    }

    &__name-heading {
        padding: $space-1 0;
    }

    &__price-heading {
        padding: 1.2rem 0;
    }

    &__footer {
        padding: 0.6rem 0;
    }

    &__list {
        padding: $space-1 0 $space-2;
    }

    &__list-item {
        margin: $space-1 0 0 4rem;
        position: relative;

        &::before {
            content: "\f00c";
            font-family: FontAwesome;
            position: absolute;
            top: 0.3rem;
            left: -2rem;
            font-size: 1.2rem;
        }
    }

    button {
        border: none;
    }

    &--lite {
        .price-card__name-heading {
            color: $blue-500;
        }
    
        .price-card__price-heading {
            background-color: $blue-500;
        }
    
        .price-card__list-item {
            color: $grey-500;
        }
    
        .price-card__footer {
            background-color: $grey-300;
        }
    
        ::before {
            color: $blue-500;
        }
    
        .btn {
            background-color: $blue-500;
        }
    }

    &--standard {

        .price-card__name-heading {
            background-color: $pink-500;
        }
    
        .price-card__price-heading {
             color: $pink-500;
        }
    
        .price-card__list {
            background-color: $pink-500;
        }
    
        .price-card__footer {
            background-color: $pink-300;
        }
    
        ::before {
            color: $primary-white;
        }
    
        .btn {
            background-color: $pink-500;
        }
    }

    &--ultimate {
        .price-card__name-heading {
            color: $pink-500;
        }
    
        .price-card__price-heading {
            background-color: $pink-500;
        }
    
        .price-card__list-item {
            color: $grey-500;
        }
    
        .price-card__footer {
            background-color: $grey-300;
        }
    
        ::before {
            color: $pink-500;
        }
    
        .btn {
            background-color: $pink-500;
        }
    }
    
}