.main__third-section-wrapper  {
    background: url('/Project/Images/bg-wave-sym.png'), linear-gradient(94deg, rgba(255,99,93,1) 3%, rgba(208,26,73,1) 100%);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
}

.third-section {

    &__paragraph {
        color: $grey-700;
    }

    &__heading {
        margin-bottom: $space-2;
    }

    .fas {
        padding: 1.5rem;
        border-radius: 50%;
        background-color: $primary-white;
        
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 1rem .1rem $primary-black;
        }
    }

}