.main__third-section-wrapper  {
    @include wavy-gradient-background("secondary",  linear-gradient(94deg, rgba(255,99,93,1) 3%, rgba(208,26,73,1) 100%));
}

.third-section {

    &__paragraph {
        color: $grey-700;
    }

    &__heading {
        margin-bottom: $space-2;
    }

    .fas {
        padding: 1.5rem;
        border-radius: 50%;
        background-color: $primary-white;
        
        &:hover {
            cursor: pointer;
            box-shadow: 0 0 1rem .1rem $primary-black;
        }
    }

}