.second-section {

    & > * {
        justify-content: space-around;
    }

    &__image {
        max-width: 40rem;
    }

    &__first-description,
    &__second-description {
        max-width: 30%;
    }

    &__first-description {
        text-align: right;

    }

    &__second-description {
        .span-heading-with-before {
            margin-left: $space-3;
         }
    }

    &__heading {
        color: $primary-black;
        font-weight: 100;
        margin-bottom: $space-1;
    }

}
    
        
    