.top-navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: $space-2 $container-space--5 0;
    z-index: 3;
    transition: all 0.5s;

    @include for-tablet-landscape-up {
        padding: $space-2 $space-3 0;
    }

    &--scrolled {
        background-color: white;
        box-shadow: 0 .1rem .2rem .1rem rgb(209, 207, 207);
        padding: .5rem 5rem;
    
        .top-navigation__text-wrapper {
            h5,
            h6 {
                color: $primary-black;
            }
        }
    
        .top-navigation__right-section {
            .grey-color-text {
                color: $grey-500;
            }
    
            .white-color-text {
                color: $pink-700;
            }
        }
    
        .logo-wrapper {
            img {
                content: url('/Project/Images/logo_dark.png');
            }
        }

        .top-navigation__burger-icon-container {
            background-color: $pink-700;
        }

        .top-navigation__burger-icon {
             &,
             &::before,
             &::after {
            background-color: $primary-white;
             }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__left-section {
        align-items: center;
        .logo-wrapper {
            animation: booping 2s ease-out 1.2s 1 forwards;
            max-width: 5rem;
            margin-right: 0.8rem;
        }

        .text-wrapper h5 {
            margin-bottom: 0.2rem;
        }
    }

    &__list-item {
        .white-color-text {
            color: $primary-white;
        }
        .grey-color-text {
            color: $grey-700;

            &:hover {
                color: $primary-white;
            }
        }
    }
    
    &__burger-icon-container {
        display: none;
        background-color: $primary-white;
        border-radius: .4rem;
        width: 4rem;
        height: 4rem;
        position: relative;
        z-index: 999;
    }

    &__burger-icon {
        display: inline-block;
        position: relative;
        width: 3rem;
        height: .2rem;
        background-color: $pink-700;
        transition: transform .4s;

        &.open {
              
            & {
                background: transparent;
                transform: rotate(720deg);
            }

            &::before {
                transform: rotate(45deg) translate(.5rem, .3rem);
            }
            
            &::after {
                transform: rotate(-45deg) translate(.3rem, -.5rem);
                width: 3rem;
            }
        }
        
        &::before,
        &::after {
            content: '';
           position: absolute;
           height: .2rem;
           background-color: $pink-700;
        }

        &::before {
           width: 3rem;
           bottom: .6rem;
        }

        &::after {
            width: 2.5rem;
            top: .6rem;
        }
    }

    @include for-tablet-portrait-up {
        &__list {
            position: absolute;
            transform: translate(-10rem,-12rem);
            

            &.open {

                transition: transform .5s;
                transform: translate(0,0);

                & {
                    top:0;
                    left: 0;
                    min-width: 100vw;
                    min-height: 100vh;
                    background-color: $primary-black;
                    opacity: 0.98;
                    padding: $space-3 $space-3;
                    display: block;
                    @include animation-delay-children('li');
                }

                li {
                    opacity: 0;
                    margin: 0 0 $space-2;
                    animation: jump-from-left .6s 1 forwards;
                }

                a.white-color-text,
                a.grey-color-text {
                    font-size: 2rem;
                }
            }
        }

        &__burger-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


